/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Red+Hat+Display:wght@200;300;400;500;600;700;800;900&display=swap");
:root {
  --clr-light-100: #ffffff;
  --clr-primary-100: #c996cc;
  --clr-primary-200: #916bbf;
  --clr-primary-300: #3d2c8d;
  --clr-primary-400: #1c0c5b;
  --clr-text-100: #383838;
  --clr-text-200: #000000;
  --font-main: "Red Hat Display", sans-serif;
  --font-accent: "Anonymous Pro", monospace;
  --fs-100: 0.875rem;
  --fs-200: 1rem;
  --fs-300: 1.5rem;
  --fs-400: 2.25rem;
  --brk-small: 35rem;
  --brk-medium: 50rem;
  --brk-large: 65rem;
  --max-width: 100rem;
}

/* Global resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--ff-primary);
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  flex: 1;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
h1 {
  font-family: var(--font-main);
  font-size: var(--fs-300);
  font-weight: 600;
}

p {
  font-family: var(--font-main);
  font-size: var(--fs-200);
}

.none {
  display: none !important;
  height: 0 !important;
}

a.solid {
  color: var(--clr-light-100);
  background: var(--clr-primary-400);
  padding: 0.5rem 1.75rem;
  border-radius: 0.625rem;
  font-weight: 600;
  font-family: var(--font-main);
  text-decoration: none;
  font-size: var(--fs-200);
}
a.solid:hover, a.solid:focus {
  background: var(--clr-primary-300);
}

.divider {
  width: 100vw;
}

.max-width {
  max-width: var(--max-width);
  margin: auto;
  padding-inline: 10vw;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) scale(0.9);
  }
  100% {
    transform: translate(-50%, -50%) scale(0.9) rotate(360deg);
  }
}
@keyframes up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes up-vh {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes jump {
  0% {
    transform: translate3d(0, 0, 0) scale3d(1.2, 1.2, 1);
  }
  40% {
    transform: translate3d(0, -30%, 0) scale3d(0.8, 1.4, 1);
  }
  100% {
    transform: translate3d(0, -100%, 0) scale3d(1.4, 0.8, 1);
  }
}
#root {
  flex: 1;
}

.App {
  min-height: 100vh;
}

.NavBar {
  width: 100%;
  max-width: var(--max-width);
  margin: auto;
}
.NavBar .skip-links {
  position: absolute;
  text-decoration: none;
  color: var(--clr-primary-400);
  padding: 1rem;
  border: 2px solid var(--clr-primary-400);
  left: 0;
  right: 0;
  width: fit-content;
  margin: 0 auto;
  transform: translateY(-150%);
  transition: transform 200ms ease-in;
}
.NavBar .skip-links:focus {
  transform: translateY(0);
}
.NavBar nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.NavBar nav .nav-logo {
  width: 11rem;
}
.NavBar nav .nav-links {
  display: flex;
  list-style: none;
  gap: 3rem;
}
.NavBar nav .nav-links .nav-link a:not(.solid) {
  font-family: var(--font-main);
  text-decoration: none;
  color: var(--clr-primary-400);
  padding: 0 0.2rem;
  font-size: var(--fs-200);
}
.NavBar nav .nav-links .nav-link a:not(.solid):hover, .NavBar nav .nav-links .nav-link a:not(.solid):focus {
  border-bottom: 1px solid var(--clr-primary-400);
}

.Hero {
  color: var(--clr-primary-400);
}
.Hero .hero-content {
  display: flex;
  align-items: center;
  gap: min(6rem, 10vw);
  padding-block: 10vh;
}
.Hero .hero-content article {
  max-width: 24rem;
}
.Hero .hero-content .hero-title {
  font-size: var(--fs-400);
  font-weight: 700;
}
.Hero .hero-content .hero-description {
  font-weight: 500;
}
.Hero .hero-content .hero-date {
  font-family: var(--font-accent);
}
.Hero .hero-content p {
  margin-bottom: 1rem;
}

.About {
  background: var(--clr-primary-300);
  color: var(--clr-light-100);
}

/*# sourceMappingURL=style.css.map */
