// Base styles for commonly-used elements

h1 {
	font-family: var(--font-main);
	font-size: var(--fs-300);
	font-weight: 600;
}

p {
	font-family: var(--font-main);
	font-size: var(--fs-200);
}

.none {
	display: none !important;
	height: 0 !important;
}

a.solid {
	color: var(--clr-light-100);
	background: var(--clr-primary-400);
	padding: 0.5rem 1.75rem;
	border-radius: 0.625rem;
	font-weight: 600;
	font-family: var(--font-main);
	text-decoration: none;
	font-size: var(--fs-200);

	&:hover,
	&:focus {
		background: var(--clr-primary-300);
	}
}

.divider {
	width: 100vw;
}

.max-width {
	max-width: var(--max-width);
	margin: auto;
	padding-inline: 10vw;
}
