// Base styles for commonly-used elements

h1 {
	font-family: var(--font-heading);
	font-size: var(--fs-300);
	font-weight: 600;
	text-transform: uppercase;
	color: var(--clr-light-100);
}

p {
	font-family: var(--font-paragraph);
	font-weight: 300;
	font-size: var(--fs-100);
	color: var(--clr-light-100);
}

.none {
	display: none !important;
	height: 0 !important;
}
