:root {
	// Colors
	--clr-light-100: #ffffff;

	--clr-primary-100: #c996cc;
	--clr-primary-200: #916bbf;
	--clr-primary-300: #3d2c8d;
	--clr-primary-400: #1c0c5b;

	--clr-text-100: #383838;
	--clr-text-200: #000000;

	// Fonts
	--font-heading: "Red Hat Display", sans-serif;
	--font-paragraph: "Anonymous Pro", monospace;

	// Font sizes
	--fs-100: 0.875rem;
	--fs-200: 1.25rem;
	--fs-300: 1.5rem;

	// Breakpoints
	--brk-small: 35em;
	--brk-medium: 50em;
	--brk-large: 65em;
}
